.todo-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-list-content {
    max-width: 600px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-list-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

.add-task-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.add-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #218838;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th, .task-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.edit-input {
    width: 100%;
    padding: 5px;
}

.action-icons {
    display: flex;
    align-items: center;
}

.edit-icon, .delete-icon {
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.edit-icon {
    margin-right: 10px;
}

.delete-icon {
    margin-left: 10px;
}

.edit-icon:hover, .delete-icon:hover {
    color: #0056b3;
}

.save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color ;
}
